@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Rubik&display=swap');
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

:root{
	--green:#07cf21;
	--blue-bg:#007E9A;
	--gray-bg:#F7FAFC;
	--icons-bg:rgba(80, 62, 157, 0.1);
	--light-dark:#302e2e;
	--dark-gray:#626264;
	--yellow-color:#FFBA0E;

	
}
/* width */
::-webkit-scrollbar {
  width: 7px;
  height:7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*login page css start from here*/
.login_left{
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

.login_left_heading{
	font-family: 'Poppins', sans-serif;
	color: var(--light-dark);
}


.login_right_para{
	color: var(--dark-gray);
}

.icons_bg{
	background-color: var(--icons-bg);
	border-radius: 0.5rem;
}

.icon_color{
	color: var(--blue-bg);
}

.login_lable{
	color: #181f35;
	text-transform: uppercase;
}

.login_input{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #c3cdc5;
}

.login_input:focus{
	background-color: transparent;
}

.create_btn{
	background-color: var(--blue-bg);
	color: #fff;
	border-radius: 0.7rem;
}

.create_btn:hover{
	color: #fff;
}

.create_btn:active{
	background-color: var(--blue-bg);
	color: #fff;
}
.create_btn:focus{
	background-color: var(--blue-bg);
	color: #fff;
}

/*forget page css start from here*/
.otp_modal_content{
	border-radius: 1.5rem !important;
}

.otp_modal_header{
	border:none;
}



.otp_input{
  display:inline-block;
  width:50px;
  height:70px;
  text-align:center;
  background-color: #e2e6e9;
  border-radius: 1rem;
  border: none !important;
}

.otp_input:focus{
	color: #e38509;
	border:1px solid #e2e6e9;
	outline: none !important;
}

.enter_otpbtn{
	background-color: var(--blue-bg);
	color: white;
	padding: 10px 15px;
}

.enter_otpbtn:hover{
	color: white;
	outline: none !important;
	border: none !important;
}

.enter_otpbtn:focus{
	color: white;
	outline: none !important;
	border: none !important;
}


.send_againbtn{
	background-color: #e2e6e9;
	padding: 10px 15px;
}

.send_againbtn:hover{
	background-color: var(--blue-bg);
	color: white;
}
.send_againbtn:focus{
	background-color: var(--blue-bg);
	color: white;
	outline: none !important;
	border: none !important;
}

.border-radius-icon-20{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.border-radius-input-20{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.yellow-color{
	color: var(--yellow-color) !important;
}

.w-20s{
	width: 20px;
}


.w-25s{
	width: 25%;
}

.w-15s{
	width: 15%;
}

.w40{
	width: 45%;
}

.w75vh{
	height: 90vh;
}

.mystyle{
	display: contents;
}

.width-100{
	width: 100px;
}
.font-13{
	font-size: 13px;
}
.w-10{
	width: 10px;
}
.border-radius-30{
	border-radius: 30px;
}
.text-red{
	color: #F93C65;
}
.text-green{
	color: #66CB9F;
}
.bg-green{
	background-color: #007E9A;
}

.bg-head-table{
	background-color: #6C5DD3;
}
.font-12{
	font-size: 12px;
}
.bg-light-green{
	background-color: #CDF4FF;
}

.text-green{
	color: #00bb00;
}

.bg-light-orange{
	background-color: #FFEFD9;
}

.text-orange{
	color: #FF9000;
}
	
.login_left_heading{
	font-family: 'Poppins', sans-serif;
	color: var(--light-dark);
}


/*.login_right_card{
	background-color: var(--gray-bg);
	border-color: transparent;
	border-radius: 1rem;
}
*/
.login_right_para{
	color: var(--dark-gray);
}

.icons_bg{
	background-color: var(--icons-bg);
	border-radius: 0.5rem;
}

.icon_color{
	color: var(--blue-bg);
}

.login_lable{
	color: #181f35;
	text-transform: uppercase;
}

.login_input{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #c3cdc5;
}

.login_input:focus{
	background-color: transparent;
}

.create_btn{
	background-color: var(--blue-bg);
	color: #fff;
	border-radius: 0.7rem;
}

.create_btn:hover{
	color: #fff;
}

.create_btn:active{
	background-color: var(--blue-bg);
	color: #fff;
}
.create_btn:focus{
	background-color: var(--blue-bg);
	color: #fff;
}

/*forget page css start from here*/
.otp_modal_content{
	border-radius: 1.5rem !important;
}

.otp_modal_header{
	border:none;
}

.envelope_bg{
	background-color: var(--blue-bg);
	color: white;
	padding: 10px 15px;
	font-size:2rem;
	border-radius: 1rem;
}

.otp_input{
  display:inline-block;
  width:50px;
  height:70px;
  text-align:center;
  background-color: #e2e6e9;
  border-radius: 1rem;
  border: none !important;
}

.otp_input:focus{
	color: #e38509;
	border:1px solid #e2e6e9;
	outline: none !important;
}

.enter_otpbtn{
	background-color: var(--blue-bg);
	color: white;
	padding: 10px 15px;
}

.enter_otpbtn:hover{
	color: white;
	outline: none !important;
	border: none !important;
}

.enter_otpbtn:focus{
	color: white;
	outline: none !important;
	border: none !important;
}


.send_againbtn{
	background-color: #e2e6e9;
	padding: 10px 15px;
}

.send_againbtn:hover{
	background-color: var(--blue-bg);
	color: white;
}
.send_againbtn:focus{
	background-color: var(--blue-bg);
	color: white;
	outline: none !important;
	border: none !important;
}



/*additional css atart*/
.poition-image{
	position: absolute;
  bottom: -171px;
  right: 30px;
  width: 700px;
  z-index: -1;
}
.line-div{
	width: 100%;
	height: 2px;
	background-color: #1589FF;
	z-index: -1;
	position: relative;
}

.text-absolute{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 111;
	background-color: white;
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

.w-50s{
	width: 50px;
}

.w-30s{
	width: 30px;
}

.bg-blue{
	background-color: #4C6FFF;
}

.b-radius-12{
	border-radius: 12px;
}

.input-btn{
	padding: 10px;
	border-radius: 12px;
	background-color: #EDF2F7;
}



.card-header-radius{
	border-top-left-radius: 30px !important;
	border-top-right-radius: 30px !important;
}

.w90{
	width: 90px;
}

.hr-1{
	height: 2px !important;
	background-color: black !important;
}

.img-circle{
	width: 45px;
	height: 45px;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
}

.img-circle img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
}



/*additional css end*/

/*request support page css start from here*/
.support_inputs{
	background-color:  #F5F6FA;
	color: #000 !important;
}


/*withdarw page css start from here*/
.red-color{
	color: red;
}

.btn_paid{
	background-color: #7FBA7A;
	color: #fff;
}

.btn_paid:hover{
	background-color: #7FBA7A;
	color: #fff;
}

.btn_paid:active{
	background-color: #7FBA7A;
	color: #fff;
}
.green-color{
	color: #7FBA7A;
}

.nav-pills{
	background-color: transparent;
}

.nav-pills .nav-link{
	background-color: #fff !important;
	border-radius: 0.5rem;
	border:none;
	color: #000 !important;

}

.nav-pills .nav-link.active{
	background-color: #FFBA0E !important;
	color: #fff !important;
	

}

/*manage inventory page css start from here*/
.red_btns{
	background-color: red;
	color: #fff;
}

.red_btns:hover{
	color: #fff;
}

.red_btns:focus{
	background-color: red;
	color: #fff;
}

.gren_btns{
	background-color: #00AC11;
	color: #fff;
}

.gren_btns:hover{
	color: #fff;
}

.gren_btns:focus{
	background-color: #00AC11;
	color: #fff;
}

.import_btn{
	background-color: #FFBA0E;
	color: #fff;
}

.import_btn:hover{
	color: #fff;
}

.import_btn:active{
	background-color: #FFBA0E;
	color: #fff;
}


/*our medication page css start from here*/
.medication_select{
	background-color: #D5D5D5;
}

.fw-bold-normal{
	font-weight: 600;
}

.text-skylish{
	color: #007E9A;
}

.bg-green-1{
	background-color: #37B659;
}

.bg-red{
	background-color: #F05B67;
}

.w-10s{
	width: 10px;
}

.modal-css{
	margin: 0px 0px 0px auto !important;
	max-width: 330px !important;
}

.position-cross{
	position: absolute;
	top: 10px;
	right: 10px;
}


.inner-content-cart-modal{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.bg-grayish{
	background-color: #007E9A;
}

.heart-position{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
}

.bg-orange{
	background-color: #FFBA0E;
}

.light-skylish{
	background-color: #EDF2F7;
}

.block-one{
	background-color: #EDF2F7;
	padding: 30px;
	border-radius: 15px;
	position: relative;
}

.close-position{
	position: absolute;
	top: 10px;
	right: 10px;
}

.img-size-cart img{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 12px;
}


/*Wishlist page css start from here*/
.wishlist_block{
	position: relative;
}

.close_btns{
	position: absolute;
	top: 10px;
	right: 10px;
 }

 /*add product page css start from here*/
 .upload_card{
 	border: 1px dashed  rgba(45, 116, 255, 0.5);
 }

 .signature_btn{
 	background-color: var(--gray-bg);
 }

 .orange-line-dot{
 	position: absolute;
 	left: -10px;
 	top: 0px;
 	text-align: center;
 }
/*================ media querry =================*/

